body {
    background-color: rgb(255, 255, 255);
}

label{
    font-weight: bold;
    margin-bottom: 0.5 rem;
    display: block;
    color: rgb(43, 21, 21);
}

input,select{
    width: 300px;
    height: 30px;
    padding: 0 15px;
    color: white;
    background-color: rgb(5, 6, 51);
    border-color: rgb(129, 200, 233);
    border-radius: 0.4rem;
    z-index: 2;
    margin-bottom: 0.5 rem;
}

input::placeholder {
    color: white;
    opacity: .7;
}

button {
    display: block;
    width: auto;
    height: 25px;
    margin: 15px 0 0 0;
    padding: 0 30px 0 10px;
    border-radius: 0 0 2rem 0.5rem;
    background-color: rgb(4, 53, 56);
    border-color: rgb(43, 185, 241);
    color: rgba(188, 210, 238, 0.733);
    font-weight: bold;
    text-align: start;
}